<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chulan.newtestproject">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewTestProject">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AvatarActivity"
            android:label="@string/avatar_text"/>
        <activity android:name=".activity.ClockActivity"
            android:label="@string/clock_text"/>
        <activity android:name=".activity.TagLayoutActivity"
            android:label="@string/tag_layout_text"/>
        <activity android:name=".activity.FlipActivity"
            android:label="@string/flip_book"/>
        <activity android:name=".activity.ScalableImageViewActivity"
            android:label="@string/scalable_image"/>
        <activity android:name=".activity.MultiPointerControlActivity"
            android:label="@string/multi_pointer_control_image"/>
        <activity android:name=".activity.ViewPagerActivity"
            android:label="@string/view_pager"/>
        <activity android:name=".activity.DragLayoutActivity"
            android:label="@string/drag_layout"/>
        <activity android:name=".compose.ComposePracticeActivity"
            android:label="@string/drag_layout"/>
        <activity android:name=".activity.NestedActivity"
            android:label="@string/nested_view"/>
    </application>

</manifest>